body {
  font-family:Arial;
  font-size:14px;
}

#navbar {
  text-align: center;
  top: 0;
  overflow: hidden;
  background-color: rgba(135, 189, 111, 0.9);
}

.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text {
  color: var(--dl-color-gray-black);
  font-size: 45px;
  font-family:'Cinzel', Trajan Pro, Georgia, serif;
}
.home-header {
  width: 100%;
  height: 150px;
  font-family: "Arial";
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
}
.home-heading {
  margin-top: var(--dl-space-space-twounits);
  font-family: "Arial";
}
.home-separator {
  width: 100%;
  height: 1px;
  margin-top: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  background-color: var(--dl-color-gray-900);
}
.home-link {
  font-family: "Arial";
  text-decoration: none;
}
.home-nav {
  border: 2px dashed rgba(120, 120, 120, 0.4);
}
.home-link1 {
  font-size: 20px;
  font-family: "Arial";
  color: black;
  text-transform: capitalize;
  text-decoration: none;
}
.home-pasted-image {
  margin-top: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
}
.home-variablescontainer {
  width: 100%;
  height: flex-start;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-bottom: 200px;
}
.home-variables {
  height: 118px;
  position: relative;
  align-self: flex-start;
}
.home-list-item {
  width: 1149px;
  height: 78px;
  font-family: "Arial";
  color: black;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  list-style-type: none;
  list-style-image: none;
  list-style-position: outside;
}
.home-link2 {
  text-decoration: underline;
  color: black;
}
.home-link3 {
  text-decoration: none;

}
.home-link4 {
  text-decoration: none;
}
.home-list-item1 {
  width: 1149px;
  height: 78px;
  font-family: "Arial";
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  list-style-type: none;
  list-style-image: none;
  list-style-position: outside;
}
.home-link5 {
  text-decoration: none;
}
.home-link6 {
  text-decoration: none;
}
.home-link7 {
  text-decoration: none;
}
.home-pasted-image {
  margin-top: 100px;
  padding-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.home-unchangingcontainer {
  width: 100%;
  height: 180px;
  display: flex;
  font-family: "Arial";
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-top: var(--dl-space-space-twounits);
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.home-link8 {
  font-size: 20px;
  font-family: "Arial";
  text-transform: capitalize;
  text-decoration: none;
}
.home-sourcescontainer {
  width: 100%;
  height: 180px;
  display: flex;
  font-family: "Arial";
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin-top: var(--dl-space-space-twounits);
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
@media(max-width: 767px) {
  .home-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-nav {
    display: none;
  }
}
@media(max-width: 479px) {
  .home-header {
    padding: var(--dl-space-space-unit);
  }
  .home-separator {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
}
/* Style the button that is used to open and close the collapsible content */
.Mycollapsible {
  background-color: #eef;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .Mycollapsible:hover {
  background-color: #ccc;
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
